@import './styles/reset.scss';
@import './styles/typography.scss';
@import 'styles/components';

:root {
  font-family: "Tektur", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 25.2px;
  font-weight: 500;

  color: #fff;
  background-color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-variation-settings:
          "wdth" 100;
  font-style: normal;
  font-optical-sizing: auto;
}

body {
  margin: 0;
}

.container {
  max-width: 1216px;
  margin: 32px auto;
  display: flex;
  flex-direction: column;
  gap: 32px;

  &.main {
    margin-bottom: 120px;
  }
}

.video {
  width: 100%;
  height: 499px;
  object-fit: cover;
  border-radius: 12px;
}

.row {
  display: flex;
}

.red {
  color: #FB0203;
}

.mb20 {
  margin-bottom: 20px;
}