h6, li {
  font-size: 18px;
  line-height: 25.2px;
  font-weight: 600;
}

h5 {
  font-size: 22px;
  line-height: 27px;
  font-weight: 700;
}

h4 {
  font-size: 24px;
  line-height: 33.6px;
}

h3 {
  font-size: 20px;
  line-height: 30px;
}

h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 56px;
}

p {
  font-size: 18px;
  line-height: 25.2px;
  font-weight: 500;
}

small {
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
}

.regular {
  font-weight: 500;
  font-style: normal;
}

.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.black {
  font-weight: 900;
}

strong {
  font-weight: 800;
}